<h1>Sounds#show</h1>

<%= @sound.title %> </br>
<%= @sound.description %> </br>

<iframe width="560" height="315" src="//www.youtube.com/embed/<%=@video.youtube_id%>" frameborder="0" allowfullscreen></iframe> </br>